[submodule "team-j-weather-ws"]
	path = team-j-weather-ws
	url = https://github.com/pns-si5-soa/team-j-weather-ws.git
[submodule "team-j-rocket-ws"]
	path = team-j-rocket-ws
	url = https://github.com/pns-si5-soa/team-j-rocket-ws.git
