<configuration>
    <logger name="org.apache" level="OFF"/>
    <logger name="kafka" level="OFF"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%msg</pattern>
      </encoder>
    </appender>
   
    <root level="all">
      <appender-ref ref="STDOUT" />
    </root>
  </configuration>
